In [1]:
import pandas as pd

In [3]:
file_path = 'data/online_retail.csv'
sales_data = pd.read_csv(file_path)
sales_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
import numpy as np
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df.head())

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
data = [[1,'John',22],[2,'Alice',25],[3,'Bob',28]]
df = pd.DataFrame(data, columns=['ID','Name','Age'])
print(df.head())

   ID   Name  Age
0   1   John   22
1   2  Alice   25
2   3    Bob   28

In [8]:
data = {'ID':[1,2,3],'Name':['John','Alice','Bob'],'Age':[22,25,28]}
df = pd.DataFrame(data)
print(df.head())

   ID   Name  Age
0   1   John   22
1   2  Alice   25
2   3    Bob   28

In [9]:
data = {'ID':[1,2,3],'Name':['John','Alice','Bob'],'Age':[22,25,28]}
df = pd.DataFrame(data, columns=['ID','Name','Age'])
print(df.head())

   ID   Name  Age
0   1   John   22
1   2  Alice   25
2   3    Bob   28

In [10]:
data = {'ID':pd.Series([1,2,3]),'Name':pd.Series(['John','Alice','Bob']),'Age':pd.Series([22,25,28])}
df = pd.DataFrame(data)
print(df.head())

   ID   Name  Age
0   1   John   22
1   2  Alice   25
2   3    Bob   28

In [13]:
#google drive
url = 'https://drive.google.com/file/d/1fWlQYh_OnOBOj-rSLfBrFUV07PQyAyvy/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
sales_data = pd.read_csv(path)
sales_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom