Series = unidmensional

Dataframe = bidimensional

In [1]:
import pandas as pd
import numpy as np
file_path = 'data/online_retail.csv'
sales_data = pd.read_csv(file_path)
sales_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
# Nombres de columnas
print(sales_data.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [3]:
num_rows, num_cols = sales_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 541909
Number of columns: 8

In [5]:
daily_sales = sales_data['Quantity']
print(daily_sales.head(6))

0    6
1    6
2    8
3    6
4    6
5    2
Name: Quantity, dtype: int64

In [7]:
summary_stats = sales_data.describe()
print(summary_stats)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [20]:
mean_sales = sales_data['Quantity'].mean()
print('media', mean_sales)
print('mediana', sales_data['Quantity'].median())
print('moda', sales_data['Quantity'].mode())
print('suma', sales_data['Quantity'].sum())
print('posicion del maximo', sales_data['Quantity'].argmax())
print('posicion del minimo', sales_data['Quantity'].argmin())
print('varianza', sales_data['Quantity'].var())
print('desviacion estandar', sales_data['Quantity'].std())
print('correlacion', sales_data['Quantity'].corr(sales_data['UnitPrice']))
print('covarianza', sales_data['Quantity'].cov(sales_data['UnitPrice']))
print('percentil 25', sales_data['Quantity'].quantile(0.25))
print('percentil 75', sales_data['Quantity'].quantile(0.75))
print('rango', sales_data['Quantity'].max() - sales_data['Quantity'].min()) 
print('maximo', sales_data['Quantity'].max())
print('minimo', sales_data['Quantity'].min())
print('conteo', sales_data['Quantity'].count())

media 9.55224954743324
mediana 3.0
moda 0    1
Name: Quantity, dtype: int64
suma 5176450
posicion del maximo 540421
posicion del minimo 540422
varianza 47559.3914092986
desviacion estandar 218.08115785023384
correlacion -0.0012349245448702957
covarianza -26.058761257936574
percentil 25 1.0
percentil 75 10.0
rango 161990
maximo 80995
minimo -80995
conteo 541909

In [21]:
sales_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom