In [1]:
import pandas as pd
import numpy as np
file_path = 'data/online_retail.csv'
retail_data = pd.read_csv(file_path)
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
first_row = retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                   2010-12-01 08:26:00
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [3]:
first_five_rows = retail_data.iloc[:5]
print(first_five_rows)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [11]:
subset = retail_data.iloc[5:10, 3:6]
print(subset)

   Quantity          InvoiceDate  UnitPrice
5         2  2010-12-01 08:26:00       7.65
6         6  2010-12-01 08:26:00       4.25
7         6  2010-12-01 08:28:00       1.85
8         6  2010-12-01 08:28:00       1.85
9        32  2010-12-01 08:34:00       1.69

In [14]:
one_value = retail_data.iloc[0, 3]
print(one_value)

6

In [17]:
two_specific_columns = retail_data.iloc[5:11, [3, 6]]
print(two_specific_columns)

    Quantity  CustomerID
5          2     17850.0
6          6     17850.0
7          6     17850.0
8          6     17850.0
9         32     13047.0
10         6     13047.0

In [21]:
row_index_0_to_5 = retail_data.loc[0:5,'Quantity']
print(row_index_0_to_5)

0    6
1    6
2    8
3    6
4    6
5    2
Name: Quantity, dtype: int64

In [23]:
quantity_unit_price = retail_data.loc[0:5, ['Quantity', 'UnitPrice']]
print(quantity_unit_price)

   Quantity  UnitPrice
0         6       2.55
1         6       3.39
2         8       2.75
3         6       3.39
4         6       3.39
5         2       7.65