In [1]:
import pandas as pd
import numpy as np
file_path = 'data/online_retail.csv'
retail_data = pd.read_csv(file_path)
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
mising_values = retail_data.isnull().sum()
print(mising_values)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [3]:
mising_values_count = retail_data.isna().sum()
print(mising_values_count)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
only_values = retail_data.dropna()
print(only_values)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[406829 rows x 8 columns]

In [5]:
no_missing_columns = retail_data.dropna(axis=1)
print(no_missing_columns)

       InvoiceNo StockCode  Quantity          InvoiceDate  UnitPrice  \
0         536365    85123A         6  2010-12-01 08:26:00       2.55
1         536365     71053         6  2010-12-01 08:26:00       3.39
2         536365    84406B         8  2010-12-01 08:26:00       2.75
3         536365    84029G         6  2010-12-01 08:26:00       3.39
4         536365    84029E         6  2010-12-01 08:26:00       3.39
...          ...       ...       ...                  ...        ...
541904    581587     22613        12  2011-12-09 12:50:00       0.85
541905    581587     22899         6  2011-12-09 12:50:00       2.10
541906    581587     23254         4  2011-12-09 12:50:00       4.15
541907    581587     23255         4  2011-12-09 12:50:00       4.15
541908    581587     22138         3  2011-12-09 12:50:00       4.95

               Country
0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
...                ...
541904          France
541905          France
541906          France
541907          France
541908          France

[541909 rows x 6 columns]

In [10]:
retail_data_filled_with_zero = retail_data.fillna(0)
mising_values_count = retail_data_filled_with_zero.isna().sum()
print(mising_values_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [21]:
mean_unit_price = retail_data['UnitPrice'].mean()
print(mean_unit_price)
retail_data_filled_with_mean = retail_data.fillna(mean_unit_price)
mising_values_count = retail_data_filled_with_mean.isna().sum()
print(mising_values_count)
mean_unit_price = retail_data['UnitPrice'].mean()
values_mean_unit_price = retail_data.fillna(mean_unit_price)

4.611113626088513
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
InvoiceNo      541909
StockCode      541909
Description    541909
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     541909
Country        541909
dtype: int64