In [1]:
import pandas as pd
import numpy as np
file_path = 'data/online_retail.csv'
df = pd.read_csv(file_path)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
country_count = df['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [3]:
country_quantity_sum = df.groupby('Country')['Quantity'].sum()
print(country_quantity_sum)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [10]:
country_stat = df.groupby('Country')['Quantity'].agg(['sum', 'mean', 'std', 'min', 'max', 'count', 'median'])
print(country_stat.head())

             sum       mean        std  min   max  count  median
Country
Australia  83653  66.444003  97.686932 -120  1152   1259    24.0
Austria     4827  12.037406  21.745485  -48   288    401     9.0
Bahrain      260  13.684211  30.016759  -54    96     19     6.0
Belgium    23152  11.189947  13.601441  -12   272   2069    10.0
Brazil       356  11.125000   8.476723    2    24     32    10.0

In [12]:
country_stock_group = df.groupby(['Country', 'StockCode'])['Quantity'].sum()
country_stock_group.head(10)

Country    StockCode
Australia  15036        600
           15056BL        3
           16161P       400
           16169E        25
           20665          6
           20675        216
           20676        216
           20677        216
           20685         50
           20711        100
Name: Quantity, dtype: int64

In [18]:
def total_revenue(data):
    return (data['Quantity'] * data['UnitPrice']).sum()

# country_revenue = df.groupby('Country').apply(total_revenue) # deprecado
country_revenue = df.groupby('Country').apply(total_revenue, include_groups=False)
print(country_revenue)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

top 3 paises en venta

In [20]:
top_3_sales = df.groupby('Country')['Quantity'].sum().sort_values(ascending=False).head(3)
print(top_3_sales)

Country
United Kingdom    4263829
Netherlands        200128
EIRE               142637
Name: Quantity, dtype: int64

In [21]:
Lowest_3_sales = df.groupby('Country')['Quantity'].sum().sort_values(ascending=True).head(3)
print(Lowest_3_sales)

Country
Saudi Arabia     75
Bahrain         260
RSA             352
Name: Quantity, dtype: int64