In [1]:
import pandas as pd

# Crear Dataframes de ejemplo

df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value': [1, 2, 3]
})
print(df1.head())
df2 = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value': [4, 5, 6]
})

print(df2.head())

  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   B      4
1   C      5
2   D      6

In [2]:
inner_join = pd.merge(df1, df2, on='key', how='inner')
inner_join

  key  value_x  value_y
0   B        2        4
1   C        3        5

In [3]:
outer_join = pd.merge(df1, df2, on='key', how='outer')
outer_join

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      4.0
2   C      3.0      5.0
3   D      NaN      6.0

In [4]:
left_join = pd.merge(df1, df2, on='key', how='left')
left_join

  key  value_x  value_y
0   A        1      NaN
1   B        2      4.0
2   C        3      5.0

In [5]:
right_join = pd.merge(df1, df2, on='key', how='right')
right_join

  key  value_x  value_y
0   B      2.0        4
1   C      3.0        5
2   D      NaN        6

In [6]:
cross_join = pd.merge(df1, df2, on='key', how='outer', suffixes=('_df1', '_df2'))
cross_join

  key  value_df1  value_df2
0   A        1.0        NaN
1   B        2.0        4.0
2   C        3.0        5.0
3   D        NaN        6.0

In [8]:
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']})

df3

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [9]:
df4 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],'B': ['B3', 'B4', 'B5']})
df4

    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [10]:
vertical_concat = pd.concat([df3, df4], axis=0)
vertical_concat

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [11]:
horizontal_concat = pd.concat([df3, df4], axis=1)
horizontal_concat

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [13]:
df5 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']}, index=['K0', 'K1', 'K2'])
df5

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [14]:
df6 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],'D': ['D0', 'D1', 'D2']}, index=['K0', 'K2', 'K3'])
df6

     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [15]:
inner_join = df5.join(df6, how='inner')
inner_join

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

In [16]:
outer_join = df5.join(df6, how='outer')
outer_join

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

- **merge()**: Fusiona dos DataFrames basado en columnas comunes, con soporte para diferentes tipos de uniones (inner, outer, left, right).

- **concat()**: Concatenación de DataFrames por filas (vertical) o columnas (horizontal).

- **join()**: Combina DataFrames usando índices, con soporte para diferentes tipos de uniones.