In [14]:
import pandas as pd
import numpy as np
file_path = 'data/online_retail.csv'
sales_data = pd.read_csv(file_path)
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])
sales_data.dropna(inplace=True, subset=['CustomerID', 'InvoiceDate'])
sales_data.info()
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [15]:
sales_data.set_index('InvoiceDate', inplace=True)
sales_data.head(10)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice
InvoiceDate,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34
2010-12-01 08:26:00,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850.0,United Kingdom,15.30
2010-12-01 08:26:00,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,4.25,17850.0,United Kingdom,25.50
2010-12-01 08:28:00,536366,22633,HAND WARMER UNION JACK,6,1.85,17850.0,United Kingdom,11.10
2010-12-01 08:28:00,536366,22632,HAND WARMER RED POLKA DOT,6,1.85,17850.0,United Kingdom,11.10
2010-12-01 08:34:00,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047.0,United Kingdom,54.08

In [19]:
sales_data['year']=sales_data.index.year
sales_data['year'].head

<bound method NDFrame.head of InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
                       ...
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
Name: year, Length: 406829, dtype: int32>

In [28]:
sales_data['month']=sales_data.index.month
sales_data['month'].head(10)

InvoiceDate
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:28:00    12
2010-12-01 08:28:00    12
2010-12-01 08:34:00    12
Name: month, dtype: int32

In [27]:
sales_data['weekday']=sales_data.index.weekday
sales_data['weekday'].head(10)

InvoiceDate
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:28:00    2
2010-12-01 08:28:00    2
2010-12-01 08:34:00    2
Name: weekday, dtype: int32

In [26]:
sales_data['day']=sales_data.index.day
sales_data['day'].head(15)

InvoiceDate
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:28:00    1
2010-12-01 08:28:00    1
2010-12-01 08:34:00    1
2010-12-01 08:34:00    1
2010-12-01 08:34:00    1
2010-12-01 08:34:00    1
2010-12-01 08:34:00    1
2010-12-01 08:34:00    1
Name: day, dtype: int32

In [24]:
sales_data['minute']=sales_data.index.minute
sales_data['minute'].head(10)

InvoiceDate
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:26:00    26
2010-12-01 08:28:00    28
2010-12-01 08:28:00    28
2010-12-01 08:34:00    34
Name: minute, dtype: int32

In [30]:
sales_data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,weekday,hour,minute,second
InvoiceDate,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,10.20,2011,12,9,4,12,50,0
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,12.60,2011,12,9,4,12,50,0
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,16.60,2011,12,9,4,12,50,0
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,16.60,2011,12,9,4,12,50,0
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,14.85,2011,12,9,4,12,50,0

In [31]:
df_2011 = sales_data.loc['2011']
df_2011.head(10)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,weekday,hour,minute,second
InvoiceDate,,,,,,,,,,,,,,,
2011-01-04 10:00:00,539993,22386,JUMBO BAG PINK POLKADOT,10,1.95,13313.0,United Kingdom,19.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,21499,BLUE POLKADOT WRAP,25,0.42,13313.0,United Kingdom,10.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,21498,RED RETROSPOT WRAP,25,0.42,13313.0,United Kingdom,10.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,22379,RECYCLING BAG RETROSPOT,5,2.10,13313.0,United Kingdom,10.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,20718,RED RETROSPOT SHOPPER BAG,10,1.25,13313.0,United Kingdom,12.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,85099B,JUMBO BAG RED RETROSPOT,10,1.95,13313.0,United Kingdom,19.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,20682,RED RETROSPOT CHILDRENS UMBRELLA,6,3.25,13313.0,United Kingdom,19.5,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,22961,JAM MAKING SET PRINTED,12,1.45,13313.0,United Kingdom,17.4,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,22667,RECIPE BOX RETROSPOT,6,2.95,13313.0,United Kingdom,17.7,2011,1,4,1,10,0,0
2011-01-04 10:00:00,539993,22898,CHILDRENS APRON APPLES DESIGN,8,1.95,13313.0,United Kingdom,15.6,2011,1,4,1,10,0,0

In [32]:
df_2011_dec = sales_data.loc['2011-12']
df_2011_dec.head(10)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,weekday,hour,minute,second
InvoiceDate,,,,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,-33.20,2011,12,1,3,8,12,0
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,-1.25,2011,12,1,3,8,14,0
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,-0.82,2011,12,1,3,8,14,0
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,-1.70,2011,12,1,3,8,14,0
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,-25.00,2011,12,1,3,8,18,0
2011-12-01 08:18:00,C579891,23186,FRENCH STYLE STORAGE JAR CAFE,-6,0.29,13644.0,United Kingdom,-1.74,2011,12,1,3,8,18,0
2011-12-01 08:23:00,C579892,23461,SWEETHEART BIRD HOUSE,-4,4.15,13310.0,United Kingdom,-16.60,2011,12,1,3,8,23,0
2011-12-01 08:25:00,C579893,37449,CERAMIC CAKE STAND + HANGING CAKES,-2,9.95,13468.0,United Kingdom,-19.90,2011,12,1,3,8,25,0
2011-12-01 08:26:00,C579894,23012,GLASS APOTHECARY BOTTLE PERFUME,-1,3.95,13098.0,United Kingdom,-3.95,2011,12,1,3,8,26,0
2011-12-01 08:26:00,C579894,23568,EGG CUP HENRIETTA HEN CREAM,-1,1.25,13098.0,United Kingdom,-1.25,2011,12,1,3,8,26,0

In [33]:
df_2010_range = sales_data.loc['2010-12-01':'2010-12-10']
df_2010_range.head(10)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,weekday,hour,minute,second
InvoiceDate,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,7.65,17850.0,United Kingdom,15.30,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,4.25,17850.0,United Kingdom,25.50,2010,12,1,2,8,26,0
2010-12-01 08:28:00,536366,22633,HAND WARMER UNION JACK,6,1.85,17850.0,United Kingdom,11.10,2010,12,1,2,8,28,0
2010-12-01 08:28:00,536366,22632,HAND WARMER RED POLKA DOT,6,1.85,17850.0,United Kingdom,11.10,2010,12,1,2,8,28,0
2010-12-01 08:34:00,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047.0,United Kingdom,54.08,2010,12,1,2,8,34,0

In [35]:
date_range = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')
df_dates = pd.DataFrame(date_range, columns=['date'])
df_dates.head(10)

        date
0 2024-01-01
1 2024-01-02
2 2024-01-03
3 2024-01-04
4 2024-01-05
5 2024-01-06
6 2024-01-07
7 2024-01-08
8 2024-01-09
9 2024-01-10